# {{ name }}

## Scope Document

## Summary

{{ description }}

## Engineering Goals

- Bulleted list of things we are doing as part of this project

## Non-goals

- Bulleted list of things we are explicitly NOT doing as part of this project

## Assumptions and Risks

- Bulleted list

## Open Questions

## Success Criteria

-

## References

-
